<div class="content-box">
    <form action="/register" method="post">
        Name: <input type="text" name="username" value="{{login_username}}">
        Password: <input type="password" name="password">
        Email-adress: <input type="email" name="email_adress">
        <input type="submit" value="Submit">
        {{registration_error}}
    </form>
</div>