<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Coding site</title>

    <link rel="stylesheet" type="text/css" href="public/main.css">
  </head>
  <body>
    
    {{~> partials/header ~}}
    {{~> partials/registerbox ~}}
    {{~> partials/loginbox ~}}
  </body>
</html>